<div class="main-wrapper home-wrapper text-center">
  <%= image_tag "gare-au-covid.png", class:'home-logo' %>
    <div class="config">
      <%= simple_form_for(@game) do |f| %>
        <div class="left" id="imgs-container">
          <%= f.simple_fields_for :players do |player_form| %>
            <div>
              <div class="imgs">
                <%= player_form.collection_radio_buttons(:avatar,  Player::AVATARS.map {|avatar| [avatar,avatar]}, :first, :last) do |b, avatar|
              b.label(class: 'js-invited-avatar') { b.radio_button(class: 'd-none input-avatar') + image_tag(b.value, {class: 'invited-avatar home-avatar'})}
            end %>
              </div>
              <a id="switch-btn">
                <div class="switch"> </div>
              </a>
            </div>

            <%#= player_form.input :avatar, collection: Player::AVATARS, as: :radio_buttons %>


            <%= player_form.input :name, label: "CHOISIS TON PSEUDO", placeholder: "Dealer2chloro" %>

          <% end %>
        </div>
        <div class="right">
          <div class="rules">
            <div class="title">
              Comment jouer ?
            </div>
            Choisis toi un pseudo, un avatar puis choisis le nombre de joueurs avec lesquels tu veux jouer et crées la partie !
          </div>
          <div class="label-count">
          Nombre de joueurs</div>
          <div class="counter">
            <span class="minus" id="minus"><i class="fas fa-minus"></i></span>
              <%= f.input :players_count,  label: "NOMBRE DE JOUEURS", placeholder: "1" %>
            <span class="plus" id="plus"><i class="fas fa-plus"></i></span>
          </div>

        </div>
      </div>
      <%= f.submit 'Créer la partie', class: 'btn-create' %>
    <% end %>
</div>

<%= link_to rules_path(@pages), class:'btn-rules' do%>
  <div class="btn-classic-dark">Accède aux règles</div>
<% end %>
