<div board id="<%= dom_id(board_player) %>">
    <!-- Affichage des differents player -->
    <div class="container-player-avatar">
      <% ordered_players.each_with_index do |player,index| %>
        <!-- Mise en surbrillance du joueur en cours -->
        <% if player.id == game.current_player.id  %>
          <div class="player-avatar">
            <h3> <%= player.name %> </h3>
            <%= image_tag "#{player.avatar}", class:'avatar-medium current-player-style' %>
            <div class="card-count" id=<%= "player-card-#{index}" %>>
              <%= player.cards.length %>
            </div>
          </div>
        <% else %>
          <!-- Gestion de l'affichage du joueur qui ne joue pas -->
          <% if player.alive == false %>
             <div class="player-avatar-dead">
              <h3> <%= player.name %> </h3>
              <%= image_tag "#{player.avatar}", class:'avatar-medium-dead' %>
            </div>
          <% else %>
            <div class="player-avatar">
              <h3> <%= player.name %> </h3>
              <%= image_tag "#{player.avatar}", class:'avatar-medium' %>
              <div class="card-count" id=<%= "player-card-#{index}" %>>
                <%= player.cards.length %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <p><span class="last-action-message"><%= params[:last_action] || "coucou" %></span></p>

    <!--  Affichage de la defausse et de la pioche -->
    <div class="container-pioche-defausse"
         id="myturn"
         data-controller="end-game-popup"
         data-image="<%= image_path('covid_illustration.png') %>"
         data-turn="<%= (board_player.id == game.current_player.id) %>"
         data-alive="<%= board_player.alive %>"
         data-winner="<%= game.over? && board_player.alive == true %>"
         data-game-over="<%= game.over? %>"
         data-game-winner="<%= game.players.alive.first.name %>"
      >
      <div class="pioche-defausse">
        <h3>Defausse</h3>
        <div class="card-pioche">
          <a href="" class="card-hover-zoom">
            <%= image_tag "cards/#{game.discard_pile_cards.last}.png", class: "card-discard #{'card-defausse-anim' if (params[:played_card_code] == game.discard_pile_cards.last)}" if game.discard_pile_cards.last %>
          </a>
        </div>
      </div>

      <div class="pioche-defausse">
        <h3>Pioche</h3>
          <%= image_tag "cards/back.png", class: "card-discard" %>
      </div>
    </div>


    <!-- Gestion pioche et fin de tour -->
    <div class="container-button">
      <div class="card-pioche-wrapper">
        <%= image_tag "cards/cluster.png", class:'card-zoom', id:"card-viewer" %>
      </div>

      <% if (board_player.id == game.current_player.id) %>

          <!-- Affichage carte piochée selon params -->
          <% if params[:drawed_card_codes] %>
          <!-- Images -->
            <% if params[:drawed_card_codes].size == 1 %>
              <%= image_tag "cards/#{params[:drawed_card_codes][0]}.png", class:'draw-card', id:'draw-card' %>
            <% else %>
              <div class="draw-many-cards">
                <% (params[:drawed_card_codes]).each do |card| %>
                  <%= image_tag "cards/#{card}.png", class:'draws' %>
                <% end %>
              </div>
            <% end %>
            <p class="info-game">Voilà pour toi !  </p>
          <% end %>


          <!-- affichage 3 premiere carte de la pioche -->
          <% if params[:played_card_code] %>
            <% if params[:played_card_code] == "testing" %>
              <div class="draw-many-cards">
                <%= image_tag "cards/#{game.draw_pile_cards.first}.png", class:'draws' %>
                <%= image_tag "cards/#{game.draw_pile_cards.second}.png", class:'draws' %>
                <%= image_tag "cards/#{game.draw_pile_cards.third}.png", class:'draws' %>
              </div>

              <p class="info-game">C'est le moment d'être malin</p>
            <% end %>

            <% if (game.next_player.id == board_player.id) && (params[:played_card_code].include?("pair")) %>
                <div class="thief stolen-card">
                  <%= image_tag "cards/#{params[:played_card_code]}.png", class:'draw-card' %>
                  <p class="info-game"> Voila ce qu'on t'as volé !</p>
              </div>
            <% end %>

            <% if params[:played_card_code].include? "pair" %>
              <div class="thief">
                <%= image_tag "cards/#{game.current_player.cards.last}.png", class:'draw-card' %>
                <p class="info-game"> Voila ce que t'as volé !</p>
              </div>
            <% end %>
          <% end %>

        <% unless game.over? %>
          <% if game.current_player.draw_card_count > 0 %>
            <%=  link_to draw_game_path(game), method: "patch", data: { reflex: "click->Game#draw" } do %>
              <div class="btn-classic-dark btn-resize mt-2">
                Pioche <%= game.current_player.draw_card_count %> carte(s)
              </div>
            <% end %>
          <% else %>
          <!-- Affiche la carte pioché pour le joueur drawed_card_code -->
            <%= link_to end_turn_game_path(game), method: "patch", data: { reflex: "click->Game#end_turn" } do %>
              <div class="btn-classic-dark btn-resize mt-2">
                 Fin de ton tour
               </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>


    <div class="container-player-interface">
      <div class="cards">
        <% board_player.cards.each do |card| %>
          <% if playable?(card, board_player) && (board_player.id == game.current_player.id) %>
            <!-- Card jouable -->
            <%= link_to (image_tag "cards/#{card}.png"), game_played_cards_path(game, {card_code: card}), method: "post", data: { controller: 'card', action: 'mouseover->card#viewCard mouseleave->card#hideCard', reflex: "click->Game#play_card", card_code: card }, class: "card__playable card card-hover-zoom" %>
          <% else %>
            <!-- Card non jouable -->
            <a href="" class="card card__inactif card-hover-zoom" data-controller="card" data-action="mouseover->card#viewCard mouseleave->card#hideCard">
              <%= image_tag "cards/#{card}.png" %>
            </a>
          <% end %>
        <% end %>
       </div>
    </div>
  </div>
<div class="player-avatar" data-shuffle-target="avatar"></div>

