<div class="begin-rules background"
     data-controller="shuffle"
     data-shuffle-card-count-value="<%= @game.draw_pile_cards.length %>"
     data-shuffle-players-count-value="<%= @game.players.size %>">
  <div class="main-wrapper">
    <div class="container-player-avatar">

      <% ordered_players.each_with_index do |player,index| %>
        <!-- Mise en surbrillance du joueur en cours -->
        <div class="player-avatar" data-shuffle-target="avatar">
          <h3> <%= player.name %> </h3>
          <%= image_tag "#{player.avatar}", class:"avatar-medium #{'current-player-style' if (player.id == game.current_player.id) }" %>
          <div class="card-count" id=<%= "player-card-#{index}" %>>
            <%= player.cards.length %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="decks" data-shuffle-target="deck">
    </div>
  </div>
  <div data-shuffle-target="avatar" id="current-player-shuffle"></div>
</div>
