<div class="main-wrapper text-center">
  <!-- Affichage des differents player -->
  <div class="container-player-avatar">
    <% @game.players.each do |player| %>
      <% unless player == current_player%>
      <!-- Mise en surbrillance du joueur en cours -->
      <% if player.id == @game.current_player.id  %>
        <div class="player-avatar">
        <h3> <%= player.name %> </h3>
        <%= image_tag "#{player.avatar}", class:'avatar-medium current-player-style' %>
        </div>
      <% else %>
        <div class="player-avatar">
          <h3> <%= player.name %> </h3>
          <%= image_tag "#{player.avatar}", class:'avatar-medium' %>
        </div>
      <% end %>

      <%end%>
    <%end%>
  </div>

  <!--  Affichage de la defausse et de la pioche -->
  <div class="container-pioche-defausse">
    <div class="pioche-defausse">
      <h3>Defausse</h3>
      <div class="card-pioche">
      <%= image_tag "cards/#{@game.discard_pile_cards.last}.png", class: "card-discard" if @game.discard_pile_cards.last %>
      </div>
    </div>
    
    <div class="pioche-defausse">
    <h3>Pioche</h3>
       <%= image_tag "cards/back.png", class: "card-discard" %>
    </div>

  </div>



  <!-- Gestion pioche et fin de tour -->
    <% if (current_player.id == @game.current_player.id) %>
      <div class="container-button">
        <div>
            <!-- Affichage carte piochée -->
            <% if params[:drawed_card_code] %>
              <p>Vous avez pioché <%= params[:drawed_card_code] %> </p>
            <% end %>
            <!-- affichage 3 premiere carte de la pioche -->
            <% if params[:played_card_code] %>
              <% if params[:played_card_code] == "testing" %>
                <p>premiere carte: <%= @game.draw_pile_cards.first %> </p>
                <p>deuxieme carte: <%= @game.draw_pile_cards.second %>  </p>
                <p>troisieme carte: <%= @game.draw_pile_cards.third %> </p>
              <% end %>
              <% if params[:played_card_code].include? "pair" %>
                <p>Vous avez volé la carte: <%= @game.current_player.cards.last %> </p>
              <% end %>
            <% end %>

        <% if @game.current_player.draw_card_count > 0 %>
           <%=  link_to draw_game_path(@game), method: "patch" do %>
            <div class="btn-classic-dark btn-resize">
              <p> pioche </p>
            </div>
           <% end %>

        <% else %>
          <!-- Affiche la carte pioché pour le joueur drawed_card_code -->
            <%= link_to end_turn_game_path(@game), method: "patch" do %>
              <div class="btn-classic-dark btn-resize">
                <p> fin tour </p>
              </div>
            <% end  %>
        <% end %>
        </div>
      </div>
    <% end %>

  <div class="container-player-interface">
    <div class="cards">
      <% current_player.cards.each do |card| %>
      <!-- Card jouable -->
        <% if (playable?(card) && (current_player.id == @game.current_player.id)) %>
          <%= link_to (image_tag "cards/#{card}.png"), game_played_cards_path(@game, {card_code: "#{card}"}), method: "post", class: "card__playable card" %>
        <% else %>
        <!-- Card non jouable -->
         <%= image_tag "cards/#{card}.png", class: "card__inactif card" %>
        <%end%>
      <%end%>
    </div>
  </div>

</div>

