

<!--Affichage des infos de la pioche (supprimé) --> 

<div class="main-wrapper text-center">

  <!-- Affichage des differents player -->
  <div class="container-player-avatar">
    <% @ordered_players.each do |player| %>
      <!-- Mise en surbrillance du joueur en cours -->
      <% if player.id == @game.current_player.id  %>
        <div class="player-avatar">
          <h3> <%= player.name %> </h3>
          <%= image_tag "#{player.avatar}", class:'avatar-medium current-player-style' %>
          <div class="card-count">
            <%= player.cards.length %>
          </div>
        </div>
      <% else %>
        <!-- Gestion de l'affichage du joueur qui ne joue pas -->
        <% if player.alive == false %>
           <div class="player-avatar-dead">
            <h3> <%= player.name %> </h3>
            <%= image_tag "#{player.avatar}", class:'avatar-medium-dead' %>
          </div>
        <% else %>
          <div class="player-avatar">
            <h3> <%= player.name %> </h3>
            <%= image_tag "#{player.avatar}", class:'avatar-medium' %>
            <div class="card-count">
              <%= player.cards.length %>
            </div>
          </div>
        <% end %>
      <% end %>
    <%end%>
  </div>

  <!--  Affichage de la defausse et de la pioche -->
  <div class="container-pioche-defausse" id="myturn" data-image="<%= image_path('covid_illustration.png') %>" data-turn="<%= (current_player.id == @game.current_player.id) %>" data-alive= "<%= @game.current_player.alive %>" data-winner="<%= @game.current_player.alive == true && @game.players.alive.count == 1 %>">
    <div class="pioche-defausse">
      <h3>Defausse</h3>
      <div class="card-pioche">
        <a href="" class="card-hover-zoom">
          <%= image_tag "cards/#{@game.discard_pile_cards.last}.png", class: "card-discard" if @game.discard_pile_cards.last %>
        </a>
      </div>
    </div>

    <div class="pioche-defausse">
      <h3>Pioche</h3>
        <%= image_tag "cards/back.png", class: "card-discard" %>
    </div>
  </div>


  <!-- Gestion pioche et fin de tour -->
  <div class="container-button">
    <div class="card-pioche-wrapper">
      <%= image_tag "cards/cluster.png", class:'card-zoom', id:"card-viewer" %>
    </div>

    <% if (current_player.id == @game.current_player.id) %>

      <!-- Affichage carte piochée -->
      <% if params[:drawed_card_codes] %>
        <!-- erb image_tag "cards/#{params[:drawed_card_codes]}.png", class:'draw-card', id:'draw-card' erb -->
        <p>Vous avez pioché <%= params[:drawed_card_codes] %> </p>
      <% end %>
      <!-- affichage 3 premiere carte de la pioche -->
      <% if params[:played_card_code] %>
        <% if params[:played_card_code] == "testing" %>
          <p>premiere carte: <%= @game.draw_pile_cards.first %> </p>
          <p>deuxieme carte: <%= @game.draw_pile_cards.second %>  </p>
          <p>troisieme carte: <%= @game.draw_pile_cards.third %> </p>
        <% end %>
        <% if params[:played_card_code].include? "pair" %>
          <p>Vous avez volé la carte: <%= @game.current_player.cards.last %> </p>
        <% end %>
      <% end %>


      <% if @game.current_player.draw_card_count > 0 %>
        <%=  link_to draw_game_path(@game), method: "patch" do %>
          <div class="btn-classic-dark btn-resize mt-2">
            Pioche
          </div>
        <% end %>

        <% else %>
        <!-- Affiche la carte pioché pour le joueur drawed_card_code -->
          <%= link_to end_turn_game_path(@game), method: "patch" do %>
            <div class="btn-classic-dark btn-resize mt-2">
              Fin tour
            </div>
          <% end  %>
        <% end %>
      <% end %>
  </div>


  <div class="container-player-interface">
    <div class="cards">
      <% current_player.cards.each do |card| %>
      <!-- Card jouable -->
        <% if playable?(card) && (current_player.id == @game.current_player.id) %>
          <%= link_to (image_tag "cards/#{card}.png"), game_played_cards_path(@game, {card_code: "#{card}"}), method: "post", class: "card__playable card card-hover-zoom" %>
        <% else %>
        <!-- Card non jouable -->
        <a href="" class="card card__inactif card-hover-zoom">
          <%= image_tag "cards/#{card}.png" %>
        </a>
        <%end%>
      <%end%>
    </div>
  </div>

</div>
