<div class="main-wrapper text-center">
  <!-- Affichage des differents player -->
  <div class="container-player-avatar">
    <% @game.players.each do |player| %>
      <% unless player == current_player%>
      <div class="player-avatar">
         <h3> <%= player.name %> </h3>
      </div>
      <%end%>
    <%end%>
  </div>

  <!--  Affichage de la defausse et de la pioche -->
  <div class="container-pioche-defausse">
    <div class="pioche-defausse">
      <h3>Defausse</h3>
    </div>
    <div class="pioche-defausse">
      <h3>Pioche</h3>
    </div>

  </div>

<!--   <div class="container-debug">
    <p> current player id: <%= current_player.id %> </p>
    <p>  game current player: <%= @game.current_player.id %> </p>
  </div> -->
  <!-- Gestion pioche et fin de tour -->
  <div class="container-button">
    <% if (current_player.id == @game.current_player.id) %>
      <% if @game.current_player.draw_card_count > 0 %>
       <%=  link_to draw_game_path(@game), method: "patch" do %>
        <div class="btn-classic-dark btn-resize">
          <p> pioche </p>
        </div>
       <% end %>
      <% else %>
        <%= link_to end_turn_game_path(@game), method: "patch" do %>
          <div class="btn-classic-dark btn-resize">
            <p> fin tour </p>
          </div>
        <% end  %>
      <% end %>
    <% end %>

  </div>

  <div class="container-card-current-player">
      <% current_player.cards.each do |card| %>
        <!-- Card jouable -->
        <% if (playable?(card) && (current_player.id == @game.current_player.id)) %>
          <%= link_to game_played_cards_path(@game, {card_code: "#{card}"}), method: "post" do %>
            <div class="card-current-player">
              <p><%= "#{card}"  %> </p>
            </div>
          <% end %>
        <% else %>
          <!-- Card non jouable -->
          <div class="card-current-player">
              <p><%= "#{card}"  %> </p>
          </div>
        <% end %>
      <%end%>
  </div>

</div>



