<div class="main-wrapper home-wrapper text-center" >
  <%= image_tag "gare-au-covid.png", class:'home-logo' %>
    <%#= Player::AVATARS  %>
    <div class="middle" id="imgs-container">
      <h2>Vite ! Les autres t'attendent, choisis un perso et un pseudo !</h2>
      <%= simple_form_for([@game, @player]) do |f| %>
        <div>
          <div class="imgs">
            <%= f.collection_radio_buttons(:avatar,  Player::AVATARS.map {|avatar| [avatar,avatar]}, :first, :last) do |b, avatar|
            b.label(class: 'js-invited-avatar') { b.radio_button(class: 'd-none input-avatar') + image_tag(b.value, {class: 'invited-avatar home-avatar'})}
          end %>
          </div>
          <a id="switch-btn">
            <div class="switch"> </div>
          </a>
        </div>
      <%= f.input :name, label: false, placeholder: "Dealer2chloro", :autofocus => true, input_html:{class: 'invited-pseudo mx-auto'}%>
    </div>
  <%= f.submit 'REJOINDRE LA PARTIE', class: 'btn-create mt-3'%>
  <% end %>
</div>

<%= link_to rules_path(@pages), class:'btn-rules' do%>
  <div class="btn-classic-dark">Accéder aux règles</div>
<% end %>
