<div class="main-wrapper waiting-wrapper text-center"
     id="<%= dom_id(@game) %>"
     data-controller="player"
     data-player-id-value="<%= @current_player.id %>">
  <div class="players-container">

    <% if @game.players_count > @game.players.length %>
      <% num = @game.players_count - 1 %>
      <%  num.times do %>
        <div class="player">
          <%= image_tag "unknown.png", class:'avatar-medium' %>
        </div>
      <%end%>
    <%else%>
      <% @game.players.each do |player| %>
        <% unless player == current_player%>
          <div class="player-avatar">
            <h3> <%= player.name %> </h3>
           <%= image_tag "#{player.avatar}", class:'avatar-medium' %>
        </div>
        <%end%>
      <%end%>
    <%end%>
  </div>

  <div>
    <%= render 'shared/rules' %>
  </div>


    <% if current_player == @game.host%>
      <% if @game.players_count == @game.players.length %>
        <%= link_to "Démarrer la partie", start_game_path(@game), method: "patch", data: { reflex: "click->Game#start" }, class:"btn-create mx-auto" %>
      <% else %>
        <div class="btn-create-inactive mx-auto">Démarrer la partie</div>
      <% end %>
    <% else %>
      <p>En attente de la création de la partie</p>
    <% end %>


</div>
